ul
	padding 0
	text-align center
	li
		margin-bottom 1em
		i
			margin-right 1em
		a
			display block
			padding .5em 0
.Perfil
	display flex
	flex-direction column
	justify-content space-between
	background black
	width 15.5em
	flex-shrink 0
	color white
	&-header-figure
		text-align center
		img
			width 8em
			height 8em
		&-figcaptions
			figcaption
				padding .5em
				border-radius 5px
				margin-top 1em
				&:first-child
					background #005B8B
				&:last-child
					background #A4E1F0
	&-contacto
		&-tel
			background #FA193E
			&:hover
				background #900503
		&-email
			background #FFB942
			&:hover
				background #B0A32D
		&-contratar
			background #59CB37
			&:hover
				background #2C6714
	&-redesSociales
		&-twt
			background #55acee
			&:hover
				background #0F72B1
		&-fb
			background #3a5795
			&:hover
				background #0047A3
		&-git
			color black
			background #f5f5f5
			&:hover
				background #A49797
	&-mapa
		background red;
		width 100%
		height 8em
		
@media(max-width:800px)
	.Perfil
		width 100%
		flex-direction row
		&-header-figure
			display flex
			position relative
			&-figcaptions
				position absolute
				left 0
				top 0
				bottom 0
				display flex
				flex-direction column
				justify-content space-between
				width 8em
				figcaption
					margin-top 0
					background transparent !important
			img
				margin-right 1em
		&-redesSociales
			position fixed
			bottom 0
			top 0
			left 0
			ul
				height 100%
				display flex
				flex-direction column
				justify-content center
				li
					width 4em
					a
						display: flex;
						align-items: center;
						padding: .5em;
						i
							margin 1em
						span
							display none
					&:hover
						width 10em
						a
							span
								display inherit
		&-contacto
			width 100%
			margin-right 2em
@media(max-width 420px)
	.Perfil
		&-contacto
			li
				i
					margin 0
				span
					display none