.Contenido
	background green
	width 100%
	display flex
	flex-direction column
	overflow-y scroll
	&-skill
		background-image url(../img/paisaje.jpg)
		background-size cover
		min-height 10em
		display flex
		color white
		&-info
			display flex
			flex-direction column
			justify-content center
			padding-left: 22em;
			width: 100%;
			background: rgba(32,124,229,0);
			background: -moz-linear-gradient(left, rgba(32,124,229,0) 3%, rgba(32,124,229,0) 20%, rgba(32,124,229,0.77) 57%, rgba(32,124,229,1) 68%);
			background: -webkit-gradient(left top, right top, color-stop(3%, rgba(32,124,229,0)), color-stop(20%, rgba(32,124,229,0)), color-stop(57%, rgba(32,124,229,0.77)), color-stop(68%, rgba(32,124,229,1)));
			background: -webkit-linear-gradient(left, rgba(32,124,229,0) 3%, rgba(32,124,229,0) 20%, rgba(32,124,229,0.77) 57%, rgba(32,124,229,1) 68%);
			background: -o-linear-gradient(left, rgba(32,124,229,0) 3%, rgba(32,124,229,0) 20%, rgba(32,124,229,0.77) 57%, rgba(32,124,229,1) 68%);
			background: -ms-linear-gradient(left, rgba(32,124,229,0) 3%, rgba(32,124,229,0) 20%, rgba(32,124,229,0.77) 57%, rgba(32,124,229,1) 68%);
			background: linear-gradient(to right, rgba(32,124,229,0) 3%, rgba(32,124,229,0) 20%, rgba(32,124,229,0.77) 57%, rgba(32,124,229,1) 68%);