<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title Pokedex
		link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="css/app.css")
	body
		header#header.Header
			h1.Header-title Pokedex
			i.Header-menu.icon-menu
		section.Pokemons
		script(src="./js/jquery.js")
		script(src="./js/app.js")