<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Edgar Zavala
		link(rel="stylesheet" href="css/estilos.css")
		link(rel="stylesheet" href="css/fonts.css")
	body
		section.Perfil
			header.Peril-header
				figure.Perfil-header-figure
					img
					div.Perfil-header-figure-figcaptions
						figcaption Edgar Zavala
						figcaption Front-end
			article.Perfil-contacto
				ul
					li.Perfil-contacto-tel 
						a(href="tel:+528448076459")
							i.icon-tel
							span (844) 807 6459
					li.Perfil-contacto-email
						a(href="mailto:ezavile@gmail.com")
							i.icon-email
							span ezavile@gmail.com
					li.Perfil-contacto-contratar
						a(href="#")
							i.icon-contratar
							span Contratar
			article.Perfil-redesSociales
				ul
					li.Perfil-redesSociales-twt
						a(href="#" target="_blank")
							i.icon-twt
							span @ezavile
					li.Perfil-redesSociales-fb
						a(href="http://www.facebook.com/EdgarZavalita" target="_blank")
							i.icon-fb
							span EdgarZavalita
					li.Perfil-redesSociales-git
						a(href="http://www.github.com/ezavile" target="_blank")
							i.icon-git
							span ezavile
			//article#map.Perfil-mapa
		section.Contenido
			article.Contenido-skill
				div.Contenido-skill-info
					h2.Contenido-skill-info-title Desarrollo web
					p.Contenido-skill-info-desc asdoasdnasd asjasodjaos asdsds nasdassd asdasdsd asdasdasd asdasdasd asdsssss
			article.Contenido-skill
				div.Contenido-skill-info
					h2.Contenido-skill-info-title Desarrollo web
					p.Contenido-skill-info-desc asdoasdnasd asjasodjaos asdsds nasdassd asdasdsd asdasdasd asdasdasd asdsssss
		script(src="https://maps.googleapis.com/maps/api/js")
		script(src="./js/app.js")