<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Edgar Zavala
		link(rel="stylesheet" href="css/estilos.css")
	body
		section.Perfil
			header.Peril-header
				figure.Perfil-header-figure
					img
					figcaption Edgar Zavala
					figcaption Front-end
			article.Perfil-contacto
				ul
					a
						li.Perfil-contacto-tel 
							i
							span (844) 807 6459
					a
						li.Perfil-contacto-email
							i
							span ezavile@gmail.com
					a
						li.Perfil-contacto-contratar
							i
							span Contratar
			article.Perfil-redesSociales
				ul
					a
						li.Perfil-redesSociales-twt
							i
					a
						li.Perfil-redesSociales-fb
							i
					a
						li.Perfil-redesSociales-git
							i
		section.Contenido
			article.Contenido-skill
				div.Contenido-skill-info
					h2.Contenido-skill-info-title Desarrollo web
					p.Contenido-skill-info-desc asdoasdnasd asjasodjaos asdsds nasdassd asdasdsd asdasdasd asdasdasd asdsssss
			article.Contenido-skill
				div.Contenido-skill-info
					h2.Contenido-skill-info-title Desarrollo web
					p.Contenido-skill-info-desc asdoasdnasd asjasodjaos asdsds nasdassd asdasdsd asdasdasd asdasdasd asdsssss